<h2>Create a new Person</h2>
<hr>

<form asp-action="Create">
    <input type="text" name="PersonID" placeholder="Nhap Person ID">
    <input type="text" name="FName" placeholder="Nhap Full Name">
   
    <input type="submit" value="Gui">
</form>
 <h3>@ViewBag.mg</h3>